.circle {
    width:300px;
    height: 300px;
    background-color: magenta;
    transition: 3s 1s;
}

.circle:hover {
    background-color: cyan;
    border-radius: 50%;
    transform: rotate(0.2 turn);
}

section div {
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    margin: 20px 0;
    transition: margin-left 3s;
}

section:hover div {
    margin-left:500px;
}

div:nth-of-type(1){
    transition-timing-function: ease in;


}
div:nth-of-type(2){
    transition-timing-function: ease-out;
}
div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0.7, 0, 0.84, 0); 
}
div:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1)
}

div:nth-of-type(5){
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1)
}